 <!DOCTYPE html>
 <html lang="en">
 <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create A Form Page</title>
      <link rel="stylesheet" href="/style.css">
 </head>
 <body>
      <h1>Create New Post</h1>

      <form action="/posts"method="post">
            <input name="username"placeholder="enter username"><br><br>
            <textarea name="content"placeholder="enter your content"></textarea><br>
            <button type="submit">Submit Post</button>
      </form>
 </body>
 </html>
